.header {
  color: white;
  width: 100%;
  background: url('https://www.rabstol.net/uploads/gallery/main/178/rabstol_net_books_13.jpg')
    no-repeat center/120% gray;
}

@media (min-width: 500px) {
  .text {
    width: 450px;
  }
}


